.mih2 {
  font-family: "Great Vibes", cursive;
  padding: 20px 0px 0px 0px;
  font-size: 4em;
}
.img1 {
  max-width: 20%px;
  /*min-width: 350px;*/
}
@media (max-width: 300px) {
  .img1 {
    max-width: 65%;
    /*min-width: 150px;*/
  }
}
@media (max-width: 767.98px) {
  .img1 {
    max-width: 85%;
    /*min-width: 150px;*/
  }
}
@media (max-width: 2024px) {
  .img1 {
    max-width: 50%;
    /*min-width: 150px;*/
  }
}
#footer ul.copyright li {
  color: #3d4c56;
}
#footer ul.copyright li a {
  color: #3d4c56;
  text-decoration: none;
}
